<h2><%= @survey.survey_title %></h2>
<hr>

<% if @survey.questions.any? %>
<h2> Questions for this survey: </h2>

<ul>
  <% @survey.questions.each do |question| %>
  <li> <a href="/questions/<%= question.id%>/edit"><%= question.question %></a></li>
  <% end %>
</ul>
<% else %>
<p> There are no questions yet! </p>
<% end %>

<form action="/questions" method="post">
  <input type="hidden" name="survey_id" value="<%= @survey.id %>">
  <label for="question">Enter Question:</label>
  <input type="text" name="question">

  <button type="submit">Add Question</button>
</form>

<h2> Update Survey </h2>
<form action ="/surveys/<%= @survey.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="survey_title">Enter the new survey title:</label>
  <input type="text" name="survey_title">
  <button type ="submit">Change survey title</button>
</form>


<form action="/surveys/<%= @survey.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Remove Survey</button>
</form>

<a href='/'> back to home page </a>
